.container {
    font-family: Arial, sans-serif;
	display: flex;
    border: 20px #aafafa;
    min-height: 400px;
}
.sidebar {
    width: 30%;
    background-color:#164107;
    border-right: 1px #d5be4a;
}
.sidebar li {
    padding: 10px 20px;
    cursor: pointer;
}
.content {
    padding: 20px 40px;
}
