.container {
    font-family: Arial, sans-serif;
	display: flex;
    border: 20px solid #aafafa;
    min-height: 400px;
}
.sidebar {
    width: 30%;
    background-color: solid #164107;
    border-right: 1px solid #d5be4a;
}
.sidebar li {
    padding: 10px 20px;
    cursor: pointer;
}
.content {
    padding: 20px 40px;
}
